<!doctype html>
<html>
  <head>
    <title>OnlineStoreAPI</title>
    <style type="text/css">
      body {
      	font-family: Trebuchet MS, sans-serif;
      	font-size: 15px;
      	color: #444;
      	margin-right: 24px;
      }
      
      h1	{
      	font-size: 25px;
      }
      h2	{
      	font-size: 20px;
      }
      h3	{
      	font-size: 16px;
      	font-weight: bold;
      }
      hr	{
      	height: 1px;
      	border: 0;
      	color: #ddd;
      	background-color: #ddd;
      }
      
      .app-desc {
        clear: both;
        margin-left: 20px;
      }
      .param-name {
        width: 100%;
      }
      .license-info {
        margin-left: 20px;
      }
      
      .license-url {
        margin-left: 20px;
      }
      
      .model {
        margin: 0 0 0px 20px;
      }
      
      .method {
        margin-left: 20px;
      }
      
      .method-notes	{
      	margin: 10px 0 20px 0;
      	font-size: 90%;
      	color: #555;
      }
      
      pre {
        padding: 10px;
        margin-bottom: 2px;
      }
      
      .http-method {
       text-transform: uppercase;
      }
      
      pre.get {
        background-color: #0f6ab4;
      }
      
      pre.post {
        background-color: #10a54a;
      }
      
      pre.put {
        background-color: #c5862b;
      }
      
      pre.delete {
        background-color: #a41e22;
      }
      
      .huge	{
      	color: #fff;
      }
      
      pre.example {
        background-color: #f3f3f3;
        padding: 10px;
        border: 1px solid #ddd;
      }
      
      code {
        white-space: pre;
      }
      
      .nickname {
        font-weight: bold;
      }
      
      .method-path {
        font-size: 1.5em;
        background-color: #0f6ab4;
      }
      
      .up {
        float:right;
      }
      
      .parameter {
        width: 500px;
      }
      
      .param {
        width: 500px;
        padding: 10px 0 0 20px;
        font-weight: bold;
      }
      
      .param-desc {
        width: 700px;
        padding: 0 0 0 20px;
        color: #777;
      }
      
      .param-type {
        font-style: italic;
      }
      
      .param-enum-header {
      width: 700px;
      padding: 0 0 0 60px;
      color: #777;
      font-weight: bold;
      }
      
      .param-enum {
      width: 700px;
      padding: 0 0 0 80px;
      color: #777;
      font-style: italic;
      }
      
      .field-label {
        padding: 0;
        margin: 0;
        clear: both;
      }
      
      .field-items	{
      	padding: 0 0 15px 0;
      	margin-bottom: 15px;
      }
      
      .return-type {
        clear: both;
        padding-bottom: 10px;
      }
      
      .param-header {
        font-weight: bold;
      }
      
      .method-tags {
        text-align: right;
      }
      
      .method-tag {
        background: none repeat scroll 0% 0% #24A600;
        border-radius: 3px;
        padding: 2px 10px;
        margin: 2px;
        color: #FFF;
        display: inline-block;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
  <h1>OnlineStoreAPI</h1>
    <div class="app-desc">No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)</div>
    <div class="app-desc">More information: <a href="https://helloreverb.com">https://helloreverb.com</a></div>
    <div class="app-desc">Contact Info: <a href="hello@helloreverb.com">hello@helloreverb.com</a></div>
    <div class="app-desc">Version: 1.0</div>
    
    <div class="license-info">All rights reserved</div>
    <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
  <h2>Access</h2>

  <h2><a name="__Methods">Methods</a></h2>
  [ Jump to <a href="#__Models">Models</a> ]

  <h3>Table of Contents </h3>
  <div class="method-summary"></div>
  <h4><a href="#Default">Default</a></h4>
  <ul>
  <li><a href="#deleteDeletePostItems"><code><span class="http-method">delete</span> /Delete post items</code></a></li>
  <li><a href="#getModifyPostItems"><code><span class="http-method">get</span> Modify post items</code></a></li>
  <li><a href="#getSeeItems"><code><span class="http-method">get</span> Search items</code></a></li>
  <li><a href="#postCreateItemSell"><code><span class="http-method">post</span> Post items</code></a></li>
  <li><a href="#postCreateUser"><code><span class="http-method">post</span> Create user</code></a></li>
  <li><a href="#postLogin"><code><span class="http-method">post</span> /Login</code></a></li>
  </ul>

  <h1><a name="Default">Default</a></h1>
  <div class="method"><a name="deleteDeletePostItems"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /Delete post items</code></pre></div>
    <div class="method-summary"> (<span class="nickname">deleteDeletePostItems</span>)</div>
    <div class="method-notes">Delete posted items.</div>







    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#ItemsInfo">ItemsInfo</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "images" : "images",
  "askingPrice" : "askingPrice",
  "deliveryType" : {
    "shipping" : "shipping",
    "pickup" : "pickup"
  },
  "description" : "description",
  "location" : {
    "country" : "country",
    "city" : "city",
    "street" : "street",
    "postalcode" : "postalcode"
  },
  "sellersInfo" : {
    "phoneNumber" : "phoneNumber",
    "sellersName" : "sellersName",
    "email" : "email"
  },
  "dateOfPosting" : "dateOfPosting",
  "title" : "title",
  "category" : {
    "cars" : "cars",
    "motorbikes" : "motorbikes",
    "electronics" : "electronics",
    "furnitures" : "furnitures",
    "bikes" : "bikes",
    "clothing" : "clothing"
  }
}, {
  "images" : "images",
  "askingPrice" : "askingPrice",
  "deliveryType" : {
    "shipping" : "shipping",
    "pickup" : "pickup"
  },
  "description" : "description",
  "location" : {
    "country" : "country",
    "city" : "city",
    "street" : "street",
    "postalcode" : "postalcode"
  },
  "sellersInfo" : {
    "phoneNumber" : "phoneNumber",
    "sellersName" : "sellersName",
    "email" : "email"
  },
  "dateOfPosting" : "dateOfPosting",
  "title" : "title",
  "category" : {
    "cars" : "cars",
    "motorbikes" : "motorbikes",
    "electronics" : "electronics",
    "furnitures" : "furnitures",
    "bikes" : "bikes",
    "clothing" : "clothing"
  }
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    OK
        
    <h4 class="field-label">401</h4>
    Unauthorized
        <a href="#ErrorMessage">ErrorMessage</a>
    <h4 class="field-label">404</h4>
    Not Found
        <a href="#ErrorMessage">ErrorMessage</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getModifyPostItems"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> Modify post items</code></pre></div>
    <div class="method-summary">Your GET endpoint (<span class="nickname">getModifyPostItems</span>)</div>
    <div class="method-notes">Modify the post items.</div>







    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#ItemsInfo">ItemsInfo</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "images" : "images",
  "askingPrice" : "askingPrice",
  "deliveryType" : {
    "shipping" : "shipping",
    "pickup" : "pickup"
  },
  "description" : "description",
  "location" : {
    "country" : "country",
    "city" : "city",
    "street" : "street",
    "postalcode" : "postalcode"
  },
  "sellersInfo" : {
    "phoneNumber" : "phoneNumber",
    "sellersName" : "sellersName",
    "email" : "email"
  },
  "dateOfPosting" : "dateOfPosting",
  "title" : "title",
  "category" : {
    "cars" : "cars",
    "motorbikes" : "motorbikes",
    "electronics" : "electronics",
    "furnitures" : "furnitures",
    "bikes" : "bikes",
    "clothing" : "clothing"
  }
}, {
  "images" : "images",
  "askingPrice" : "askingPrice",
  "deliveryType" : {
    "shipping" : "shipping",
    "pickup" : "pickup"
  },
  "description" : "description",
  "location" : {
    "country" : "country",
    "city" : "city",
    "street" : "street",
    "postalcode" : "postalcode"
  },
  "sellersInfo" : {
    "phoneNumber" : "phoneNumber",
    "sellersName" : "sellersName",
    "email" : "email"
  },
  "dateOfPosting" : "dateOfPosting",
  "title" : "title",
  "category" : {
    "cars" : "cars",
    "motorbikes" : "motorbikes",
    "electronics" : "electronics",
    "furnitures" : "furnitures",
    "bikes" : "bikes",
    "clothing" : "clothing"
  }
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    OK
        
    <h4 class="field-label">401</h4>
    Unauthorized
        <a href="#ErrorMessage">ErrorMessage</a>
    <h4 class="field-label">404</h4>
    Not Found
        <a href="#ErrorMessage">ErrorMessage</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="getSeeItems"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> Search items</code></pre></div>
    <div class="method-summary">Your GET endpoint (<span class="nickname">getSeeItems</span>)</div>
    <div class="method-notes">Search items based on Category, Location and Date of posting.</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">body <a href="#ItemsInfo">ItemsInfo</a> (optional)</div>
      
            <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
            <div class="param-desc"><span class="param-type">example: <code>{
  &quot;value&quot; : [ {
    &quot;Category&quot; : {
      &quot;Cars&quot; : &quot;string&quot;,
      &quot;Motorbikes&quot; : &quot;string&quot;,
      &quot;Bikes&quot; : &quot;string&quot;,
      &quot;Clothing&quot; : &quot;string&quot;,
      &quot;Electronics&quot; : &quot;string&quot;,
      &quot;Furnitures&quot; : &quot;string&quot;
    },
    &quot;Location&quot; : {
      &quot;Street&quot; : &quot;string&quot;,
      &quot;Country&quot; : &quot;string&quot;,
      &quot;Postalcode&quot; : &quot;string&quot;,
      &quot;City&quot; : &quot;string&quot;
    },
    &quot;Images&quot; : &quot;string&quot;,
    &quot;AskingPrice&quot; : &quot;string&quot;,
    &quot;DateOfPosting&quot; : &quot;string&quot;,
    &quot;DeliveryType&quot; : {
      &quot;Pickup&quot; : &quot;string&quot;,
      &quot;Shipping&quot; : &quot;string&quot;
    },
    &quot;SellersInfo&quot; : {
      &quot;SellersName&quot; : &quot;string&quot;,
      &quot;PhoneNumber&quot; : &quot;string&quot;,
      &quot;Email&quot; : &quot;string&quot;
    }
  } ]
}</code></span></div>    </div>  <!-- field-items -->





    <!--Todo: process Response Object and its headers, schema, examples -->


    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    OK
        <a href="#"></a>
    <h4 class="field-label">404</h4>
    Not Found
        <a href="#ErrorMessage">ErrorMessage</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="postCreateItemSell"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> Post items</code></pre></div>
    <div class="method-summary"> (<span class="nickname">postCreateItemSell</span>)</div>
    <div class="method-notes">Post items to sell.</div>







    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#ItemsInfo">ItemsInfo</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "images" : "images",
  "askingPrice" : "askingPrice",
  "deliveryType" : {
    "shipping" : "shipping",
    "pickup" : "pickup"
  },
  "description" : "description",
  "location" : {
    "country" : "country",
    "city" : "city",
    "street" : "street",
    "postalcode" : "postalcode"
  },
  "sellersInfo" : {
    "phoneNumber" : "phoneNumber",
    "sellersName" : "sellersName",
    "email" : "email"
  },
  "dateOfPosting" : "dateOfPosting",
  "title" : "title",
  "category" : {
    "cars" : "cars",
    "motorbikes" : "motorbikes",
    "electronics" : "electronics",
    "furnitures" : "furnitures",
    "bikes" : "bikes",
    "clothing" : "clothing"
  }
}, {
  "images" : "images",
  "askingPrice" : "askingPrice",
  "deliveryType" : {
    "shipping" : "shipping",
    "pickup" : "pickup"
  },
  "description" : "description",
  "location" : {
    "country" : "country",
    "city" : "city",
    "street" : "street",
    "postalcode" : "postalcode"
  },
  "sellersInfo" : {
    "phoneNumber" : "phoneNumber",
    "sellersName" : "sellersName",
    "email" : "email"
  },
  "dateOfPosting" : "dateOfPosting",
  "title" : "title",
  "category" : {
    "cars" : "cars",
    "motorbikes" : "motorbikes",
    "electronics" : "electronics",
    "furnitures" : "furnitures",
    "bikes" : "bikes",
    "clothing" : "clothing"
  }
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    OK
        
    <h4 class="field-label">400</h4>
    Bad Request
        <a href="#ErrorMessage">ErrorMessage</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="postCreateUser"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> Create user</code></pre></div>
    <div class="method-summary"> (<span class="nickname">postCreateUser</span>)</div>
    <div class="method-notes">Creates the user account</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">body <a href="#UserInfo">UserInfo</a> (optional)</div>
      
            <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
            <div class="param-desc"><span class="param-type">example: <code>{
  &quot;value&quot; : [ {
    &quot;id&quot; : 22543,
    &quot;username&quot; : &quot;kalle444&quot;,
    &quot;firstName&quot; : &quot;Kalle&quot;,
    &quot;lastname&quot; : &quot;Ojala&quot;,
    &quot;email&quot; : &quot;kalle.ojala@hotmail.fi&quot;,
    &quot;phoneNumber&quot; : &quot;0447265552&quot;,
    &quot;password&quot; : &quot;jkap44Zz&quot;,
    &quot;Address&quot; : {
      &quot;Street&quot; : &quot;Pesätie 11&quot;,
      &quot;City&quot; : &quot;Oulu&quot;,
      &quot;country&quot; : &quot;Suomi&quot;,
      &quot;postalCode&quot; : &quot;90420&quot;
    }
  } ]
}</code></span></div>    </div>  <!-- field-items -->




    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_200">inline_response_200</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "UserId" : 0.8008281904610115
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
      <li><code>application/xml</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    OK
        <a href="#inline_response_200">inline_response_200</a>
    <h4 class="field-label">201</h4>
    Created
        <a href="#"></a>
    <h4 class="field-label">400</h4>
    Bad Request
        <a href="#ErrorMessage">ErrorMessage</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="postLogin"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /Login</code></pre></div>
    <div class="method-summary"> (<span class="nickname">postLogin</span>)</div>
    <div class="method-notes">Post a login</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">body <a href="#LoginUserInfo">LoginUserInfo</a> (optional)</div>
      
            <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
            <div class="param-desc"><span class="param-type">example: <code>{
  &quot;value&quot; : [ {
    &quot;username&quot; : &quot;kalle444&quot;,
    &quot;password&quot; : &quot;jkap44Zz&quot;
  } ]
}</code></span></div>    </div>  <!-- field-items -->





    <!--Todo: process Response Object and its headers, schema, examples -->



    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    OK
        <a href="#"></a>
    <h4 class="field-label">201</h4>
    Created
        <a href="#"></a>
    <h4 class="field-label">406</h4>
    Not Acceptable
        <a href="#"></a>
  </div> <!-- method -->
  <hr/>

  <h2><a name="__Models">Models</a></h2>
  [ Jump to <a href="#__Methods">Methods</a> ]

  <h3>Table of Contents</h3>
  <ol>
    <li><a href="#ErrorMessage"><code>ErrorMessage</code> - ErrorMessage</a></li>
    <li><a href="#ItemsInfo"><code>ItemsInfo</code> - ItemsInfo</a></li>
    <li><a href="#ItemsInfo_category"><code>ItemsInfo_category</code></a></li>
    <li><a href="#ItemsInfo_deliveryType"><code>ItemsInfo_deliveryType</code></a></li>
    <li><a href="#ItemsInfo_location"><code>ItemsInfo_location</code></a></li>
    <li><a href="#ItemsInfo_sellersInfo"><code>ItemsInfo_sellersInfo</code></a></li>
    <li><a href="#LoginUserInfo"><code>LoginUserInfo</code> - LoginUser</a></li>
    <li><a href="#SearchedItems"><code>SearchedItems</code> - SearchedItems</a></li>
    <li><a href="#UserInfo"><code>UserInfo</code> - userInfo</a></li>
    <li><a href="#UserInfo_Address"><code>UserInfo_Address</code></a></li>
    <li><a href="#inline_response_200"><code>inline_response_200</code></a></li>
  </ol>

  <div class="model">
    <h3><a name="ErrorMessage"><code>ErrorMessage</code> - ErrorMessage</a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'>Error message during runtime.</div>
    <div class="field-items">
      <div class="param">errorMessage (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="ItemsInfo"><code>ItemsInfo</code> - ItemsInfo</a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'>Information of items that are in Onlinestore.</div>
    <div class="field-items">
      <div class="param">title (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">description (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">category (optional)</div><div class="param-desc"><span class="param-type"><a href="#ItemsInfo_category">ItemsInfo_category</a></span>  </div>
<div class="param">location (optional)</div><div class="param-desc"><span class="param-type"><a href="#ItemsInfo_location">ItemsInfo_location</a></span>  </div>
<div class="param">images (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">askingPrice (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">dateOfPosting (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">deliveryType (optional)</div><div class="param-desc"><span class="param-type"><a href="#ItemsInfo_deliveryType">ItemsInfo_deliveryType</a></span>  </div>
<div class="param">sellersInfo (optional)</div><div class="param-desc"><span class="param-type"><a href="#ItemsInfo_sellersInfo">ItemsInfo_sellersInfo</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="ItemsInfo_category"><code>ItemsInfo_category</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">cars (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">motorbikes (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">bikes (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">clothing (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">electronics (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">furnitures (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="ItemsInfo_deliveryType"><code>ItemsInfo_deliveryType</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">pickup (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">shipping (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="ItemsInfo_location"><code>ItemsInfo_location</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">street (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">country (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">postalcode (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">city (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="ItemsInfo_sellersInfo"><code>ItemsInfo_sellersInfo</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">sellersName (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">phoneNumber (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">email (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="LoginUserInfo"><code>LoginUserInfo</code> - LoginUser</a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'>Info for login</div>
    <div class="field-items">
      <div class="param">username (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">password (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="SearchedItems"><code>SearchedItems</code> - SearchedItems</a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'>Items to search</div>
    <div class="field-items">
      <div class="param">category (optional)</div><div class="param-desc"><span class="param-type"><a href="#ItemsInfo_category">ItemsInfo_category</a></span>  </div>
<div class="param">location (optional)</div><div class="param-desc"><span class="param-type"><a href="#ItemsInfo_location">ItemsInfo_location</a></span>  </div>
<div class="param">dateOfPosting (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="UserInfo"><code>UserInfo</code> - userInfo</a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'>User info for create user.</div>
    <div class="field-items">
      <div class="param">id (optional)</div><div class="param-desc"><span class="param-type"><a href="#BigDecimal">BigDecimal</a></span>  </div>
<div class="param">username (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">firstName (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">lastname (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">email (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">phoneNumber (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">password (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">Address (optional)</div><div class="param-desc"><span class="param-type"><a href="#UserInfo_Address">UserInfo_Address</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="UserInfo_Address"><code>UserInfo_Address</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">Street (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">City (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">country (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
<div class="param">postalCode (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200"><code>inline_response_200</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">UserId (optional)</div><div class="param-desc"><span class="param-type"><a href="#BigDecimal">BigDecimal</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  </body>
</html>
